<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{username}}!</h2>
    </div>
</div>
<br><br>
<div class="row mt-6">
    <div class="col-md-12">
        <h3>Create a New Post:</h3>
        <form class="form new-post-form">
            <div class="form-group">
                <label for="title">Post Title:</label>
                <input class="form-input" type="text" id="title" />
            </div>
            
            <div class="form-group">
                <label for="body">What would you like to share?</label>
                <textarea class="form-input" type="text" id="body"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    {{#if posts.length}}
    <div class="col-md-6 post-list">
        <h2>Your Posts:</h2>
        {{#each posts as |post|}}
        <div class="col-md-8">
            <h3><a href="/posts/{{post.id}}">{{post.title}}</a></h3>
        </div>
        <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{post.id}}">Remove Post</button>
        </div>
    </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/display.js"></script>